extends layout

block content
  .container.theme-showcase(role='main')
    .row
    for devicetype in devices
      for type in devicetype._id
        .col-sm-3
          .page-header
              h2 #{type.typeName}
            for device in devicetype.devices
              h3(style="display:inline;") #{device.name} &nbsp;
              .checkbox
                label
                if device.ctrlType == 'button'
                  button.btn.btn-default.deviceb(id=device.id, type='button', name=device.name, data-cmd=device.cmd, data-type=device.type) #{device.ctrlText || "Operate"}
                else
                  input.device(id=device.id, type='checkbox', name=device.name, checked=(device.state ? "checked" : undefined), data-cmd=device.cmd, data-state="#{device.state}", data-type=device.type, data-codes!=("#{device.codes}"), data-on-text=device.dataon, data-off-text=device.dataoff, data-on-color="success")
                unless !device.webcamurl
                  button(type="button", class="btn btn-default togcam")
                    span(class="glyphicon glyphicon-facetime-video")
                unless !device.colorControl
                  input.basic(type='text', data-cmd="hue")
                div(class="text-muted devicedevchng")
                  small Last switched: &nbsp;
                    em(id='em_'+device.id) #{moment(device.statechanged).format("MM/DD/YY HH:mm:ss")}
                iframe.wcam(style="display:none;", width='300', height='166', scrolling='no', frameborder='no', src='', data-src=device.webcamurl)
    .row
      // iframe(width='270', height='248', scrolling='no', frameborder='no', src='//nest.acdrago.dynu.com/')
      //iframe(width='400', height='248', scrolling='no', frameborder='no', src='/color')
  // /container

block clientjs
  script(src='//bgrins.github.io/spectrum/spectrum.js')
  script(src='/js/control.js')

block clientcss
  link(rel='stylesheet', href='//bgrins.github.io/spectrum/spectrum.css')

