extends layout

block content
  .container.theme-showcase(role='main')
    .row
      .col-sm-5
        .page-header
          h1 RF Devices
        for rfdevice in rfdevices
          h3 #{rfdevice.name}
          .checkbox
            label
            input.rfdev(id=rfdevice.id, type='checkbox', name=rfdevice.name, checked=(rfdevice.state ? "checked" : undefined), data-state="#{rfdevice.state}", data-codes!=("#{rfdevice.codes}"), data-on-color="success")
            div(class="text-muted rfdevchng")
              small Last switched: &nbsp;
                em #{moment(rfdevice.statechanged).format("MM/DD/YY HH:mm:ss")}
      .col-sm-5
        .page-header
          h1 Garage Doors
        for garagedoor in garagedoors
          div(data-id=garagedoor.id)
            h3(style="display:inline;") #{garagedoor.name}
            unless "#{garagedoor.haswebcam}" == false
              img.togcam(src="/img/webcam.png" alt="show camera")
            .checkbox
              label
              input.gdoor(id=garagedoor.id, type='checkbox', name=garagedoor.name, checked=(garagedoor.state ? "checked" : undefined), data-state="#{garagedoor.state}", data-on-text="Open", data-off-text="Closed", data-on-color="success")
              div(class="text-muted gdoordevchng")
                small Last switched: &nbsp;
                  em #{moment(garagedoor.statechanged).format("MM/DD/YY HH:mm:ss")}
              iframe.wcam(style="display:none;", width='300', height='166', scrolling='no', frameborder='no', src='', data-src=garagedoor.webcamurl)
  // /container

block clientjs
  script(src='/js/index.js')
