extends layout

block content
  .container.theme-showcase(role='main')
    .page-header
      h1 Buttons
    div#gDoor toggle Garage Door
    div#msg
    for rfdevice in rfdevices
      h1 #{rfdevice.name}
      .checkbox
        label
        input.rfdev(id=rfdevice.id, type='checkbox', name=rfdevice.name, checked=(rfdevice.state?"checked":undefined), data-state="#{rfdevice.state}", data-codes!=("#{rfdevice.codes}"))
        div(class="text-muted rfdevchng")
          small Last switched: &nbsp;
            em #{moment(rfdevice.statechanged).format("MM/DD/YY HH:mm:ss")}

  // /container

block clientjs
  script(src='/js/index.js')
